@using HMS.Entites.Enums
@model IEnumerable<HMS.Entities.Models.Appointment>

<div class="container p-4">

    <div class="row pb-2">

        <div class="col">
            <h1 class="text-white">Hi Admin, This is The Appointment List</h1>
        </div>


    </div>

    <table class="table table-bordered table-hover table-info">

        <thead>

        <th>Patient Name</th>
        <th>Doctor Name</th>
        <th>Department Name</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Appointment Status</th>


        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Patient.FullName</td>
                    <td>@item.Staff.FullName</td>
                    <td>@item.Department.Name</td>
                    <td>@item.AppointmentDateTime.ToString("d")</td>
                    <td>@item.AppointmentDateTime.ToString("HH:mm")</td>
                    <td>@Enum.GetName(typeof(AppointmentStatus), @item.Status)</td>

                </tr>
            }
        </tbody>

    </table>
</div>
