@using HMS.Entites.Enums
@model IEnumerable<HMS.Entities.Models.Appointment>

<div class="container p-4">

    <div class="row pb-2">

        <div class="col">
            <h1 class="text-white">Hi Doctor, This is your Appointment List</h1>
        </div>
       

    </div>

    <table class="table table-bordered table-hover table-info">

        <thead>

        <th>Patient Name</th>
        <th>Department Name</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Appointment Status</th>


        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>


                    <td>@item.Patient.FullName</td>
                    <td>@item.Department.Name</td>
                    <td>@item.AppointmentDateTime.ToString("d")</td>
                    <td>@item.AppointmentDateTime.ToString("t")</td>
                    <td>@Enum.GetName(typeof(AppointmentStatus), @item.Status)</td>
                   

                    <i class="bi bi-window-plus"></i>

                    @if (Enum.GetName(typeof(AppointmentStatus), @item.Status)==AppointmentStatus.COMPLETED.ToString()   )
                    {
                        <td> <a asp-action="Add" asp-controller="MedicalHistories" asp-route-AppointmentId="@item.Id" class="btn btn-success">Add Medical History <i class="bi bi-window-plus"></i></a></td>
                        <td> <a asp-action="Update" asp-controller="MedicalHistories" asp-route-AppointmentId="@item.Id" class="btn btn-primary">Update Medical History <i class="bi bi-pencil-square"></i></a></td>

                    }
                    else{
                    <td> <a class="disabled" asp-action="Add" asp-controller="MedicalHistories" asp-route-AppointmentId="@item.Id" class="btn btn-success">Add Medical History <i class="bi bi-window-plus"></i></a></td>
                    <td> <a class="disabled" asp-action="Update" asp-controller="MedicalHistories" asp-route-AppointmentId="@item.Id" class="btn btn-primary">Update Medical History <i class="bi bi-pencil-square"></i></a></td>

                    }
                    @* momkn a3emelhom law else dsabled *@

                 
                   
                </tr>
            }
        </tbody>

    </table>
</div>
