@model IEnumerable<HMS.Entities.Models.Schedule>


<div class="container p-4">

    <div class="row pb-2">

        <div class="col">
            <h1 class="text-white">Available Appointments</h1>


        </div>
        <div class="col d-flex justify-content-end pt-1">
            <a asp-action="Search" asp-controller="Staff" class="btn btn-outline-primary">Back</a>
        </div>


    </div>

    <table class="table table-bordered table-hover table-info">

        <thead>

        <th>Date</th>
        <th>Available From</th>
        <th>Available To</th>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>


                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.AvailableFrom.ToString("HH:mm")</td>
                    <td>@item.AvailableTo.ToString("HH:mm")</td>

                    @{
                        var datePart = item.Date.Date; // Extract only date part 
                        var availableFrom = item.AvailableFrom;   // TimeOnly type
                        var mergedDateTime = new DateTime(datePart.Year, datePart.Month, datePart.Day, availableFrom.Hour, availableFrom.Minute, availableFrom.Second); // Combine date and time
                    }
                    <td>
                   
                        <a asp-controller="Appointment" asp-action="BookAppointment" class="btn btn-outline-primary" asp-route-StaffId="@ViewBag.StaffId" asp-route-DepartmentId="@ViewBag.DepartmentId"
                           asp-route-PatientId="@ViewBag.PatientId" asp-route-AppointmentDateTime="@mergedDateTime.ToString("yyyy-MM-ddTHH:mm:ss")">
                            Book Appointment <i class="bi bi-window-plus"></i>

                </a>
                    </td>
                </tr>



            }
        </tbody>

    </table>
</div>
